body {
    font-family: "Lato", sans-serif;
    background-color: rgb(43, 43, 66);
}

p {
    text-align: left;
    color: white;
    font-size: 20px;
}

h2 {
    text-align: center;
}

button {
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    border: 50px white;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    height: 50%;
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

#input {
    border-radius:3px;
    padding: 5px; /*inpute text offest from edge*/
    margin: 5px 0;
}

.modalForm {
    padding: 10px;
    background-color: white;
}

.modalForm-header {
    background-color: #1044a3;
    padding: 2px 16px;
}

.update-btn {
    background-color: #525252;
    color: white;
    padding: 2px 2px;
    border: none;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

.btn {
    background-color: #525252;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

.input {
    padding: 2px;
}

#teamRoleSelectionModal {
    display: "none";
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* The sidebarnav menu */

.sidebarnav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebarnav */
}


/* The sidebarnav links */

.sidebarnav a,
.customGameButton {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* When you mouse over the navigation links, change their color */

.sidebarnav a:hover {
    color: #f1f1f1;
}


/* The button used to open the sidebarnav */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebarnav {
        padding-top: 15px;
    }

    .sidebarnav a {
        font-size: 18px;
    }
}




/* Center the image and position the close button */

.imgcontainer,
p {
    text-align: center;
    color: #000;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}




/*Player Circles Start Here*/

#playerCircles {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: grey;
    border: none;
    border-radius: 150px;
    margin: auto;
}

#MOD {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: grey;
    border: none;
    border-radius: 150px;
    margin: auto;
}

.childCircles {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
}

#playerStatModal {
    display: none;
}

#modModal {
    display: none;
}


/*Player Circles End Here*/

.game-stats {
    display: flex;
    justify-content: space-between;
}

.wolf {
    background-color: darkred;
}

.villager {
    background-color: #0d19c0;
}